<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>支付完成</title>
    <style>
        body { font-family: Arial, sans-serif; }
        .payment-form { max-width: 300px; margin: 50px auto; padding: 20px; border: 1px solid #ccc; }
        .payment-form input[type="text"], .payment-form input[type="submit"] { width: 100%; padding: 10px; margin: 10px 0; }
    </style>
</head>
<body>
<div class="payment-form">
    <p th:text="'支付完成,orderId=' + ${orderId} + ' !'"></p>
</div>
</body>
</html>